# The ***GroupBy*** Pattern

We have seen the ***GroupBy*** operator in ***Pandas***, but  this is actually a more general ***design pattern*** that can be utilized in many data analyics frameworks and data access interfaces, e.g. in ***SQL***.

## GroupBy: general Pattern
<img SRC="IMG/groupby.jpg">

#### GroupBy in SQL:
```
SELECT COUNT(CustomerID), Country
FROM Customers
GROUP BY Country
ORDER BY COUNT(CustomerID) DESC;
```

#### GroupBy in MongoDB
```
db.BusinessProcess.aggregate({
    "$group": {
        _id: {
            status: "$status",
            type: "$type"
        },
        count: {
            $sum: 1
        }
    }
   })
```

In [2]:
#setup example
import numpy as np
import pandas as pd
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.305974 -0.335863
1    a  two  0.416017  0.011807
2    b  one -2.183941  0.944159
3    b  two  1.306024 -2.309517
4    a  one -0.005550  0.621814

In [6]:
#group by key1 
grouped = df.groupby(df['key1'])
grouped #this is now a more complex group object

In [7]:
#and generates a table per group
for name, group in grouped:
    print ("name:", name, "\n",group)

name: a
   key1 key2     data1     data2
0    a  one -0.305974 -0.335863
1    a  two  0.416017  0.011807
4    a  one -0.005550  0.621814
name: b
   key1 key2     data1     data2
2    b  one -2.183941  0.944159
3    b  two  1.306024 -2.309517

In [8]:
#access group table
grouped.get_group('b')

  key1 key2     data1     data2
2    b  one -2.183941  0.944159
3    b  two  1.306024 -2.309517

In [9]:
#get numper of entries (rows) per group
grouped.size()

key1
a    3
b    2
dtype: int64

In [5]:
#get number of group entries by columns
grouped.count()

      key2  data1  data2
key1
a        3      3      3
b        2      2      2

#### Think of  grouped DataFrames as 3d objects:

In [ ]:
#accessing the "3d" group tables
grouped['data2'].get_group('a')

In [ ]:
grouped.get_group('a')['data2']

### Group by external keys

In [ ]:
#define external key years as numpy array
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([years]).mean()

### Group by functions

In [ ]:
#sort by column and retun top n
def top(df, n=5, column='data1'):
    return df.sort_values(by=column)[-n:]

df.groupby(df['key1']).apply(top,n=5)

### Group-wise aggregation (apply)
<img SRC="IMG/groupby.jpg">

#### Typical build in aggregation functions:
* sum
* mean
* max / min
* quantile
* ...

In [ ]:
#aggregate over the groups
grouped.count()

grouped.sum()

#### Custom Aggregation Functions

In [ ]:
def peak_to_peak(arr):
    return arr.max() - arr.min()
grouped.agg(peak_to_peak)

#### Multiple aggregations

In [ ]:
#just call a list of function
grouped.agg([peak_to_peak, 'mean', 'median'])

#### Suppressing the Group Keys

In [ ]:
df.groupby(df['key1']).apply(top,n=2)

In [ ]:
df.groupby(df['key1'], group_keys=False).apply(top,n=2)

## More  Exercises in the Lab session...